html {
  font-size: 62.5%;
  background-color: #f4f4f4;
}

:root {
  --color-primary: #2584ff;
  --color-border: #a49f9f;
  --font-sub-color: #555f6d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  justify-content: center;
  min-height: 30vh;
  text-transform: uppercase;
}

.mobile-nav {
  display: none;
}

p {
  padding: 0;
  margin: 0;
}

.hero_content {
  text-align: center;
}

.hero__title {
  font-size: 2.4rem;
  font-weight: 600;
}

.hero__subtitle {
  font-size: 1.2rem;
  font-weight: 400;
}

.block {
  padding: 2rem 0;
}

.block__title {
  text-transform: uppercase;
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.block__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}


.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 2rem;
}

.content {
  border-left: 1px solid var(--color-border);
  padding: 0 20px;
}


ul {
  list-style-type: none;
  padding: 0;
}

.nav-link {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.footer {
  background-color: var(--color-primary);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  column-gap: 2rem;
  min-height: 250px;
}

.footer__stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}


.footer__stack__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

dl dt {
  font-size: 1.7rem;
}

dl dd {
  margin-bottom: 10px;
  color: var(--font-sub-color);
}


@media only screen and (max-width: 720px) {
  .mobile-nav {
    display: block;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .aside {
    display: none;
  }

  .content {
    border-left: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}